.chat{
    display: flex;
    flex-direction: column;
    main{
        flex:auto;
        overflow-y: auto;
        max-height: 84vh;
    }
    form{
        padding: 10px;
        display: flex;
        flex-direction: row-reverse;
        width: revert;
        textarea{
            flex: auto;
            box-sizing: border-box;
            min-height: 6rem;
            font-size: .7rem;
        }

    }
}