form {
  display: flex;
  flex-direction: column;
  label{
    margin-top: 10px;
  }
  textarea{
    min-height: 8rem;
  }
  .checkboxBox{
    display: flex;
    flex-direction: column;
    &__item{
      display: flex;
      margin: 5px 0px;
      align-items: center;
      input{
        margin-left: 20px;
      }
      label{
        margin: 0px;
        font-size: 1.2rem;
      }
    }
  }
}
input,
textarea,
select {
  font-family: "Varela Round", sans-serif;
  border-radius: var(--roundBorderSmall);
  background-color: var(--gray5);
  font-size: var(--size11);
  border: none;
  padding: var(--regPadding);
  font-size: var(--size17);
  margin: 5px 0px;
}
